{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empleados list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Matriculacodigo</th>
                <th>Paterno</th>
                <th>Materno</th>
                <th>Nombre</th>
                <th>Fechacreacion</th>
                <th>Usuarioid</th>
                <th>Estado</th>
                <th>Sexo</th>
                <th>Direccion</th>
                <th>Celular</th>
                <th>Telefono</th>
                <th>Correoelectronico</th>
                <th>Externo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for empleado in empleados %}
            <tr>
                <td><a href="{{ path('empleado_show', { 'id': empleado.id }) }}">{{ empleado.id }}</a></td>
                <td>{{ empleado.matriculaCodigo }}</td>
                <td>{{ empleado.paterno }}</td>
                <td>{{ empleado.materno }}</td>
                <td>{{ empleado.nombre }}</td>
                <td>{% if empleado.fechaCreacion %}{{ empleado.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ empleado.usuarioId }}</td>
                <td>{% if empleado.estado %}Yes{% else %}No{% endif %}</td>
                <td>{{ empleado.sexo }}</td>
                <td>{{ empleado.direccion }}</td>
                <td>{{ empleado.celular }}</td>
                <td>{{ empleado.telefono }}</td>
                <td>{{ empleado.correoElectronico }}</td>
                <td>{% if empleado.externo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('empleado_show', { 'id': empleado.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('empleado_edit', { 'id': empleado.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empleado_new') }}">Create a new empleado</a>
        </li>
    </ul>
{% endblock %}
