{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empleado</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ empleado.id }}</td>
            </tr>
            <tr>
                <th>Matriculacodigo</th>
                <td>{{ empleado.matriculaCodigo }}</td>
            </tr>
            <tr>
                <th>Paterno</th>
                <td>{{ empleado.paterno }}</td>
            </tr>
            <tr>
                <th>Materno</th>
                <td>{{ empleado.materno }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ empleado.nombre }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if empleado.fechaCreacion %}{{ empleado.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usuarioid</th>
                <td>{{ empleado.usuarioId }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if empleado.estado %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ empleado.sexo }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ empleado.direccion }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ empleado.celular }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ empleado.telefono }}</td>
            </tr>
            <tr>
                <th>Correoelectronico</th>
                <td>{{ empleado.correoElectronico }}</td>
            </tr>
            <tr>
                <th>Externo</th>
                <td>{% if empleado.externo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empleado_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('empleado_edit', { 'id': empleado.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
